<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="../css/main.css" rel="stylesheet">
    <script src="../js/main.js"></script>
    <link rel="icon" href="../imgs/logo2.jpg" type="image/jpg" sizes="16x16">
    <title>IE - Morning</title>
</head>
<body>

 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark px-5 mb-5">
    <span class="navbar-brand"><img src="../imgs/logo.jpg" height="40" width="40" class="rounded-circle">IE - Morning</span>
    <button class="navbar-toggler" data-toggle="collapse" href="#menu_nav"><span class="navbar-toggler-icon"></span></button>
    <div id="menu_nav" class="collapse navbar-collapse">
        <ul class="navbar-nav nav">
            <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
            <li class="nav-item "><a href="../pages/lec.html" class="nav-link ">Lectures</a></li>
            <li class="nav-item"><a href="../pages/programs.html" class="nav-link">Programs</a></li>
            <li class="nav-item"><a href="../pages/files.html" class="nav-link active">Files</a></li>
            <li class="nav-item"><a href="../pages/about.html" class="nav-link">About Us</a></li>
        </ul>
    </div>
</nav>
<div class="container content">
    <div class="lecturer text-center">
        <h3 class="about_lecturer">About Lecturer</h3>
        <img src="../imgs/azhar.jpg" class="rounded-circle mb-1" height="100" width="100"><br>
         <span class="name_lecturer  mb-1 badge bg-dark text-white rounded-pill">Azhar Malik</span>
        <h5 class="name_class">Mathematics III</h5>
    </div>
    <hr>
    
    <div class="row">
       <!-- start -->

       <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">matrix 1</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
               
                    <a Class="btn d-block btn-dark " href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/1- matrix 1.pdf"  target="_blank">View</a>
                    
               
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">sign matrix</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
               
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/1.1- sign matrix.pdf" target="_blank" >View</a>
                
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">matrix 2</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/2- matrix 2.pdf" target="_blank" >View</a>
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">matrix 3</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
             
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/3- matrix 3.pdf" target="_blank" >View</a>
               
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">matrix 4</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
            
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/4- matrix 4.pdf" target="_blank" >View</a>
                
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">integration</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/5- integration.pdf" target="_blank" >View</a>
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">Fourier</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/5.1- Fourier.pdf" target="_blank" >View</a>
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">DE 1</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
              
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/6- DE 1.pdf" target="_blank" >View</a>
             
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">DE 2</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/7- DE 2.pdf" target="_blank" >View</a>
            </div>
        </div>
    </div>

    <div Class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div Class="card">
            <img Class="card-img-top" src="../imgs/math.jpeg" height="197" >
            <div Class="card-body">
                <h5 Class="card-title">Mathematics III</h5>
                <span Class="badge  bg-dark mb-2 rounded-pill">Higher DE</span>
                <p Class="card-text">As a student of mathematics, you'll develop better systems for problem-solving, learning how applied mathematics solves real-world issues.</p>
                    <a Class="btn d-block btn-dark" href="https://radiant-inlet-36677.herokuapp.com/ie/Mathematics/8- Higher DE.pdf" target="_blank" >View</a>
            </div>
        </div>
    </div>


       <!-- end -->
    </div>
    <button onclick="go_top()" id="myBtn" title="Top"><i class="fas fa-arrow-up"></i></button>
    <a href="../pages/files.html"><i class="fas  fa-arrow-left"></i></a>
    <script>
         var mybutton = document.querySelector("#myBtn");
         window.onscroll = function() {scroll_check()};
    </script>
</div>
<footer class="footer bg-dark text-center text-white p-3">Made With <i class="fa fa-heart text-danger"></i> By IE Students &copy; 2021</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>